# ---------------------------------------------------------------- #
# Arquivos de Build e Binários (Java/Maven/Gradle)
# ---------------------------------------------------------------- #

# Diretórios de compilação
/bin/
/target/
/out/
/build/
*.class

# Arquivos JAR/WAR/ZIP/EAR gerados
*.jar
*.war
*.ear
*.zip

# ---------------------------------------------------------------- #
# Arquivos do Banco de Dados Local (SQLite)
# ---------------------------------------------------------------- #

# O arquivo do banco de dados SQLite deve ser ignorado, pois será gerado
# localmente por cada desenvolvedor.
*.db
*.sqlite
*.sqlite3

# ---------------------------------------------------------------- #
# Arquivos de IDEs (Ambientes de Desenvolvimento)
# ---------------------------------------------------------------- #

# IntelliJ IDEA (Mais comum em projetos Java)
.idea/
*.iws
*.iml
*.ipr
/out/

# Eclipse
.project
.classpath
.settings/
*.log

# VS Code
.vscode/

# ---------------------------------------------------------------- #
# Arquivos do Sistema Operacional
# ---------------------------------------------------------------- #
.DS_Store
Thumbs.db